p{
    text-align: justify;
    color: chartreuse;
}
#content{
    max-width: 1000px;
}
#image1{
    float: left;
    margin-right: 10px;

}
#image2{
    float:right;
    margin-left:10px;
    margin-bottom: 10px;

}


#cabecera{
    text-align: center;
    background: black;
    color: midnightblue;
    background-image: url("img/Resident-Evil-2-Remake-Claire-Redfield-and-RE-engine-shines-in-latest-Gamescom-preview-668679.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
#footer{
    text-align: center;
    clear: both;
    color: darkred;
    background: black;
    height: 80px;
    display: block;
    bottom: 0%;
    left: 0px;
    width: 100%;

}
#end{
    text-align: center;
    color: black;
}
body{
    background-image: url("img/Resident-Evil-21.jpg");
    background-size: cover;


}
